<mt:ignore>kmatsumoto130905_1441:
プラグイン設定画面のUIの定義。
無効化してる2項目は、将来の拡張を想定したもの。</mt:ignore>
<mtapp:setting id="plg_blg_kmctmce_config_js_code" label="TinyMCE's config-js-code."
    hint="TinyMCE's config-js-code." show_hint=1>
  <textarea name="plg_blg_kmctmce_config_js_code" id="plg_blg_kmctmce_config_js_code" class="text high"><mt:var name="plg_blg_kmctmce_config_js_code" ></textarea>
</mtapp:setting>
<mt:ignore>
<mtapp:setting id="plg_blg_wpg_kmctmce_config_js_code" label="TinyMCE's config-js-code for webpage."
    hint="TinyMCE's config-js-code." show_hint=1>
  <textarea name="plg_blg_wpg_kmctmce_config_js_code" id="plg_blg_wpg_kmctmce_config_js_code" class="text high"><mt:var name="plg_blg_wpg_kmctmce_config_js_code" ></textarea>
</mtapp:setting>
<mtapp:setting id="plg_blg_ent_kmctmce_config_js_code" label="TinyMCE's config-js-code for entry."
    hint="TinyMCE's config-js-code." show_hint=1>
  <textarea name="plg_blg_ent_kmctmce_config_js_code" id="plg_blg_ent_kmctmce_config_js_code" class="text high"><mt:var name="plg_blg_ent_kmctmce_config_js_code" ></textarea>
</mtapp:setting>
</mt:ignore>
<mtapp:setting id="plg_blg_kmctmce_config_head_code" label="TinyMCE's config-js-code."
    hint="TinyMCE's config-js-code." show_hint=1>
  <textarea name="plg_blg_kmctmce_config_head_code" id="plg_blg_kmctmce_config_head_code" class="text high"><mt:var name="plg_blg_kmctmce_config_head_code" ></textarea>
</mtapp:setting>
