<mt:ignore>
<mt:setvarblock name="js_include" append="1">
<script type="text/javascript" src="<mt:var name="static_uri">plugins/KMCustomTinyMCE/extension.js"></script>
</mt:setvarblock>
</mt:ignore>
<mt:setvarblock name="js_include" append="1">
//km130902.
</mt:setvarblock>
