<mt:ignore>
<!--
kmatsumoto130905_1439:
ウェブページ/記事の新規作成（編集）画面のMTテンプレートにおける、TinyMCE周りコードのに追加するコード。
将来的な拡張を行う為設置。
-->
</mt:ignore>
<mt:ignore>
<!--
<mt:setvarblock name="js_include" append="1">
<script type="text/javascript" src="<mt:var name="static_uri">plugins/KMCustomTinyMCE/extension.js"></script>
</mt:setvarblock>
-->
</mt:ignore>
